<div class="share">
    Share
    <a href="https://twitter.com/home?status=<%- url %>">
        <img src="/assets/social/twitter.png" alt="share on twitter">
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%- url %>">
        <img src="/assets/social/fb.png" alt="share on facebook">
    </a>
</div>