<div class="share">
    <div>Share</div>
    <a href="https://twitter.com/home?status=<%- url %>">
        <img src="<%- url_for('assets') %>/social/twitter.png" alt="share on twitter">
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%- url %>">
        <img src="<%- url_for('assets') %>/social/fb.png" alt="share on facebook">
    </a>
</div>