<div class="wide-subscription-wrapper">
  <div class="wide-subscription">
    <div class="transparent-bar"></div>
    <img class="wide-subscription-ninja" src="<%- url_for('assets') %>/ninja-jump.png" alt="ninja">
    <!-- Begin AC signup form -->
    <form method="POST" action="https://pietruchabartosz.activehosted.com/proc.php" id="_form_7_" class="_form _form_7 _inline-form subscription" novalidate>
      <input type="hidden" name="u" value="7" />
      <input type="hidden" name="f" value="7" />
      <input type="hidden" name="s" />
      <input type="hidden" name="c" value="0" />
      <input type="hidden" name="m" value="0" />
      <input type="hidden" name="act" value="sub" />
      <input type="hidden" name="v" value="2" />
      <div class="_form-content">
        <div id="caption">Subscribe for new articles and videos!</div>
        <div class="_form_element _x95880374 _full_width " >
          <div class="_field-wrapper">
            <input type="text" name="fullname" placeholder="Your name" required/>
          </div>
        </div>
        <div class="_form_element _x85999527 _full_width " >
          <div class="_field-wrapper">
            <input type="text" name="email" placeholder="Your email" required/>
          </div>
        </div>
        <div class="_button-wrapper _full_width">
          <button id="_form_7_submit" class="_submit button cta cta-blue" type="submit">
            Subscribe
          </button>
        </div>
        <div class="consent">By clicking the button you agree to receive a newsletter. NO SPAM!</div>
      </div>
    </form>
    <!-- End AC signup form -->
  </div>
</div>