<h1 id="Workshops"><a href="#Workshops" class="headerlink" title="Workshops"></a>Workshops</h1>
<p>Angular Academy offers high-quality hands-on workshops that will take your team to the next level
    in Angular development. The very core of the trainings is coding which leads participants to build real-world
    budgeting application.</p>
<h2 id="Angular-Fundamentals-Workshop"><a href="#Angular-Fundamentals-Workshop" class="headerlink"
        title="Angular Fundamentals Workshop"></a>Angular Fundamentals Workshop</h2>

<div class="workshops-agenda">
    <div class="workshops-agenda-item">
        <p><strong>Essential Details</strong></p>
        <ul>
            <li>JavaScript and HTML knowledge required</li>
            <li>Fast track to start using Angular efficently</li>
            <li>3 days per 8 hours</li>
        </ul>
    </div>
    <div class="workshops-agenda-item">
        <p><strong>Angular core concepts</strong></p>
        <ul>
            <li>High-level architecture and core concepts of Angular</li>
            <li>Component nature of modern web applications</li>
            <li>Scaffolding and generating new projects</li>
        </ul>
    </div>
    <div class="workshops-agenda-item">
        <p><strong>Development Toolkit</strong></p>
        <ul>
            <li>Npm for package management</li>
            <li>Jasmine and Karma for unit tests</li>
            <li>Angular CLI deep dive</li>
        </ul>
    </div>
    <div class="workshops-agenda-item">

        <p><strong>ECMAScript 6, 7, 8+</strong></p>
        <ul>
            <li>New language features to boost productivity and overall experience</li>
            <li>Code more easy to understand and maintain</li>
        </ul>
    </div>
    <div class="workshops-agenda-item">

        <p><strong>TypeScript</strong></p>
        <ul>
            <li>Catching errors with type safety before they get into production</li>
            <li>Writing enterprise-grade applications that scale</li>
            <li>Using amazing tooling and code completion features</li>
        </ul>
    </div>
    <div class="workshops-agenda-item">

        <p><strong>Modules, Components, Templates</strong></p>
        <ul>
            <li>Dividing application into feature modules with clean exports</li>
            <li>Component architecture of Angular dive deep</li>
            <li>Smart and Dumb components pattern</li>
            <li>Templates with structural directive like *ngFor and *ngIf</li>
        </ul>
    </div>
    <div class="workshops-agenda-item">

        <p><strong>Observables and RxJS</strong></p>
        <ul>
            <li>Functional reactive programming</li>
            <li>Observable streams for reacting to state change</li>
            <li>Most important RxJS operators</li>
        </ul>
    </div>
    <div class="workshops-agenda-item">
        <p><strong>Routing</strong></p>
        <ul>
            <li>Structuring application into route-based states</li>
            <li>Lazy loading and preloading modules</li>
            <li>Protecting application routes with Route Guards</li>
        </ul>
    </div>
</div>

<div class="workshop-reference">
    <img src="./img/olexandr.jpg" alt="" class="avatar">
    <div class="text">
        I've attended Bartosz's training for Angular 2 and want to say, that it is one of the best trainings I've
        visited. Bartosz kept us all the time focused on tha task and everybody was involved in the process. Four days
        past like a minute and I had a feeling, that I want to stay and continue learning. And at the same time we were
        able to cover a lot of topics and Bartosz gave us a direction for further learning. Thank you, Bartosz, it was
        really cool!
        <div class="author">Oleksandr Vorovchenko, Senior Oracle Developer at Luxoft</div>
    </div>
</div>

<h2>Application built during the workshop</h2>

During the workshop participants receive indepth technical lectures and build Angular application themselves using
Angular Material.

<img class="workshop-app" src="./img/budget.gif" alt="">

<div class="workshop-reference">
    <img src="./img/anton.jpg" alt="" class="avatar">
    <div class="text">
        Bartosz is a able to conduct trainings with a great professionalism. I've attended his training on Angular2 and
        found it very useful, as Bartosz in a limited time frame provided both theoretical knowledge and practical
        exercises and eventually helped me to delve into front end web development.
        <div class="author">Anton Danylov, .NET Team Lead</div>
    </div>
</div>

<h2 id="Angular-Advanced-Workshop"><a href="#Angular-Advanced-Workshop" class="headerlink"
        title="Angular Advanced Workshop"></a>Angular Advanced Workshop</h2>

Advanced Workshop is dedicated for developers already using Angular and willing to dive deeper into most challanging
parts of the platform within 2 days.

<div class="workshops-agenda">
    <div class="workshops-agenda-item">
        <p><strong>Advanced RxJS</strong></p>
        <ul>
            <li>Start to think reactively and make it all pure</li>
            <li>Embrace higher-level observables and flattening</li>
            <li>Multicast and use hot observables to share streams</li>
        </ul>
    </div>
    <div class="workshops-agenda-item">
        <p><strong>Advanced unit and E2E testing</strong></p>
        <ul>
            <li>Write shallow and isolated unit tests with Karma and Jasmine</li>
            <li>Use Page Object Pattern to write e2e tests with Protractor</li>
            <li>Track your code coverage</li>
        </ul>
    </div>
    <div class="workshops-agenda-item">
        <p><strong>Progressive Web applications</strong></p>
        <ul>
            <li>Make your app progressive</li>
            <li>Use manifest to make it feel native</li>
            <li>Use Angular service worker for caching</li>
            <li>Off-line sync the changes</li>
        </ul>
    </div>
    <div class="workshops-agenda-item">
        <p><strong>Performance optimization</strong></p>
        <ul>
            <li>Understand performance bottlenecks</li>
            <li>Optimize change detection</li>
            <li>Use onPush stategy, pure pipes and memoization</li>
            <li>Detach the Change Detector and run code outside Angular</li>
        </ul>
    </div>
</div>

<div class="workshop-reference">
    <img src="./img/jakub.jpg" alt="" class="avatar">
    <div class="text">
        I had a true pleasure to attend a training led by Bartosz.
        Right away I was positively surprised with the level and attitude.
        Bartosz not only knows by heart the stuff he teaches, but really likes what he does.
        He was keen to answer all questions and also helped with practical excercies.
        He had everything under control. The ratio between theory and practical tasks was just right. There was no time
        I was bored and I am really motivated to start using the framework the training was about (Angular2), which will
        be much easier thanks to Bartosz.
        I am sure I will like to attend other training organized by Bartosz.
        <div class="author">Jakub Niemyjski, Senior .Net Developer</div>
    </div>
</div>

<div class="workshop-gallery">
    <span><img src="./img/gallery/a1.jpg" alt="Public Speaking"></span>
    <span><img src="./img/gallery/a2.png" alt="Angular Workshop"></span>
    <span><img src="./img/gallery/a3.jpg" alt="Angular Workshop"></span>
    <span><img src="./img/gallery/a4.jpg" alt="Angular Workshop"></span>
    <span><img src="./img/gallery/a5.jpg" alt="Angular Workshop"></span>
    <span><img src="./img/gallery/a6.jpg" alt="Angular Wrocław Meetup"></span>
    <span><img src="./img/gallery/a7.jpg" alt="Angular Workshop"></span>
    <span><img src="./img/gallery/a8.jpg" alt="Angular Workshop"></span>
    <span><img src="./img/gallery/a9.png" alt="Angular Workshop"></span>
</div>

<div class="workshop-video">
    <div class='embed-container'><iframe src='https://player.vimeo.com/video/259348055' frameborder='0'
            webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
</div>

<div class="workshop-book">
    <div id="close-workshop" class="close" onclick="hideHireUsForm();">×</div>
    <div class="button-text" onclick="showHireUsForm();">BOOK A WORKSHOP</div>

    <div id="mauticform_wrapper_angularacademyhireus" class="mauticform_wrapper">
        <form autocomplete="false" role="form" method="post"
            action="https://mautic.angular-academy.com/form/submit?formId=5" id="mauticform_angularacademyhireus"
            data-mautic-form="angularacademyhireus" enctype="multipart/form-data">
            <div class="mauticform-error" id="mauticform_angularacademyhireus_error"></div>
            <div class="mauticform-message" id="mauticform_angularacademyhireus_message"></div>
            <div class="mauticform-innerform">


                <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">

                    <div id="mauticform_angularacademyhireus_f_name" data-validate="f_name" data-validation-type="text"
                        class="mauticform-row mauticform-text mauticform-field-1 mauticform-required">
                        <label id="mauticform_label_angularacademyhireus_f_name"
                            for="mauticform_input_angularacademyhireus_f_name" class="mauticform-label">Name</label>
                        <input id="mauticform_input_angularacademyhireus_f_name" name="mauticform[f_name]" value=""
                            class="mauticform-input" type="text">
                        <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                    </div>

                    <div id="mauticform_angularacademyhireus_email" data-validate="email" data-validation-type="email"
                        class="mauticform-row mauticform-email mauticform-field-2 mauticform-required">
                        <label id="mauticform_label_angularacademyhireus_email"
                            for="mauticform_input_angularacademyhireus_email" class="mauticform-label">Email</label>
                        <input id="mauticform_input_angularacademyhireus_email" name="mauticform[email]" value=""
                            class="mauticform-input" type="email">
                        <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                    </div>

                    <div id="mauticform_angularacademyhireus_telephone"
                        class="mauticform-row mauticform-text mauticform-field-3">
                        <label id="mauticform_label_angularacademyhireus_telephone"
                            for="mauticform_input_angularacademyhireus_telephone"
                            class="mauticform-label">Telephone</label>
                        <input id="mauticform_input_angularacademyhireus_telephone" name="mauticform[telephone]"
                            value="" class="mauticform-input" type="text">
                        <span class="mauticform-errormsg" style="display: none;"></span>
                    </div>

                    <div id="mauticform_angularacademyhireus_inquiry" data-validate="inquiry"
                        data-validation-type="textarea"
                        class="mauticform-row mauticform-text mauticform-field-4 mauticform-required">
                        <label id="mauticform_label_angularacademyhireus_inquiry"
                            for="mauticform_input_angularacademyhireus_inquiry" class="mauticform-label">What kind of
                            training do you need?</label>
                        <textarea id="mauticform_input_angularacademyhireus_inquiry" name="mauticform[inquiry]"
                            class="mauticform-textarea"></textarea>
                        <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                    </div>

                    <div id="mauticform_angularacademyhireus_2__4" data-validate="2__4" data-validation-type="captcha"
                        class="mauticform-row mauticform-text mauticform-field-6 mauticform-required">
                        <label id="mauticform_label_angularacademyhireus_2__4"
                            for="mauticform_input_angularacademyhireus_2__4" class="mauticform-label">2 + 4 =</label>
                        <input id="mauticform_input_angularacademyhireus_2__4" name="mauticform[2__4]" value=""
                            class="mauticform-input" type="text">
                        <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                    </div>

                    <div id="mauticform_angularacademyhireus_honey" style="display:none"
                        class="mauticform-row mauticform-text mauticform-field-5">
                        <label id="mauticform_label_angularacademyhireus_honey"
                            for="mauticform_input_angularacademyhireus_honey" class="mauticform-label">Honey</label>
                        <input id="mauticform_input_angularacademyhireus_honey" name="mauticform[honey]" value=""
                            class="mauticform-input" type="text">
                        <span class="mauticform-errormsg" style="display: none;"></span>
                    </div>

                    <div id="mauticform_angularacademyhireus_submit"
                        class="mauticform-row mauticform-button-wrapper mauticform-field-6">
                        <button type="submit" name="mauticform[submit]"
                            id="mauticform_input_angularacademyhireus_submit" value=""
                            class="mauticform-button btn btn-default">Submit</button>
                    </div>
                </div>
            </div>

            <input type="hidden" name="mauticform[formId]" id="mauticform_angularacademyhireus_id" value="5">
            <input type="hidden" name="mauticform[return]" id="mauticform_angularacademyhireus_return" value="">
            <input type="hidden" name="mauticform[formName]" id="mauticform_angularacademyhireus_name"
                value="angularacademyhireus">

        </form>
    </div>
</div>