.tag-list
  margin: 30px 0 20px 0
  justify-content: center
  display: flex

  .tag-list-item
    margin: 0 10px

    .tag-list-link
      text-decoration: none
      color: color-default

.category-list-count
.tag-list-count
.archive-list-count
  display: none
  padding-left: 5px
  color: color-grey
  font-size: 0.85em
  &:before
    content: "("
  &:after
    content: ")"

.archives
  clearfix()

.archive-year
  color: black
  @extend $block-caption

.archives
  column-gap: 10px
  @media mq-tablet
    column-count: 2
  @media mq-normal
    column-count: 3

.archive-article
  avoid-column-break()

.archive-article-inner
  margin: 15px

.archive-article-title
  font-size: 22px
  font-weight: bold
  text-decoration: none
  color: color-default
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link

.archive-article-banner
  width: 100%

.archive-article-footer
  margin-top: 1em

.archive-article-date
  color: color-grey
  text-decoration: none
  font-size: 0.85em
  line-height: 1em
  margin-top: 0.5em
  display: block

#page-nav
  clearfix()
  margin: block-margin auto
  background: #fff
  text-align: center
  color: color-grey
  overflow: hidden
  a, span
    padding: 10px 20px
    line-height: 1
    height: 2ex
  a
    color: color-grey
    text-decoration: none
    &:hover
      background: color-grey
      color: #fff
  .page-number
    display: inline-block
    @media mq-mobile
      display: none
  .current
    color: color-default
    font-weight: bold
  .space
    color: color-border