#footer
  @media mq-normal
    margin-left: sidebar-width

    .no-margin-left &
      margin-left: 0

#footer-info
  color: color-grey
  padding: 20px
  background-color: color-background-dark
  text-align: center
  line-height: line-height
  font-size: 0.85em

  @media mq-mobile-and-tablet
    text-align: center
    padding: 50px 0

  span
    margin-left: 5px

  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
