.share
    height: 100%
    width: 100px
    text-align: center
    position: sticky
    top: 200px
    display: flex
    flex-direction: column

    @media mq-mobile
        display: none

    img
        width: 40px
        height: 40px
        cursor: pointer
        margin-top: 20px