if sidebar is bottom
  @import "sidebar-bottom"
else
  @import "sidebar-aside"

#gradient
  height: 30px
  width: sidebar-width
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.23) 100%)

  @media mq-mobile-and-tablet
    width: 100%

.sidebar-info
  font-size: 15px
  color: white
  background-color: color-widget
  border-top: 2px solid color-primary-dark
  padding: 20px
  margin: 0 20px 20px

  &.highlighted
    color: black
    background-color: color-primary-dark
    border-radius: 5px

    .button.cta
      background-color: #5144ff;

  @media mq-mobile-and-tablet
    display: none

#space
  flex-grow: 1

#author
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  color: white
  margin: 20px 20px 25px 20px

  #name
    margin: 10px 0
    font-size: 16px

  #desc
    margin-bottom: 15px
    opacity: 0.5

  img
    border-radius: 100%

    @media mq-mobile
      margin-left: 10px

  @media mq-mobile
    font-size: 13px
    flex-direction: row
    margin-bottom: 0
    
    #author-details
      margin-left: 20px

#incentive
  opacity: 0.8
  font-size: 18px
  text-align: center
  margin-bottom: 10px

#ninja
  margin-left: -30px

.widget
  @extend $base-style
  line-height: line-height
  word-wrap: break-word
  font-size: 0.9em

.tagcloud
  a
    margin-right: 5px
    display: inline-block

.counter {
  padding: 20px;
  background: white;
  color: #FF0666;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.counter-block {
  text-align: center
  margin-right: 20px;
  width: 55px;
}

.counter-block:last-child {
  margin-right: 0;
}

.counter-legend {
  font-size: 14px;
}