#sidebar
  background-color: color-sidebar
  padding-top: 30px
  padding-bottom: 0px
  display: flex
  flex-direction: column
  z-index: 1000

  @media mq-large
    height: 100%
    width: sidebar-width
    top: 120px
    position: sticky
    margin-top: 40px
    margin-bottom: 40px
    margin-left: 20px
    border-radius: 10px

.widget-wrap
  padding: 20px
  margin: 20px 20px 0 20px
  border-radius: 4px
  background-color: color-widget

.widget-title
  @extend $block-caption

.widget
  padding-top: 15px
  a
    color: white
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    margin-left: 0
    list-style: none